<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre mi</title>
    
    <% include partials/head.html %>
    <style>
        body {
            font-family: 'Expletus Sans', cursive;
    
        }
    </style>
    <style>
        .bounceInUp{ /*Punto para class*/
            animation-duration: 1.5s            
        }
        #lorem{ /*Hashtag para los id*/
            animation-duration: 4s
        }
    </style>

</head>
<body>
    <% include partials/navigation.html %>
    <div class="container">
        <header class="row justify-content-md-center text-white p-5 text-center">
            <div id="lorem" class="col-md-auto animated fadeIn">
                <h2>Abdel Amin Genao</h2>
                <p>
                    Hola. Mi nombre esta arriba.
                </p>
                <br>
                <p>
                    Soy estudiante de Ingenieria de Software en el
                    Instituto Tecnologico de Santo Domingo. Actualmente
                    estoy desarrollando mi proyecto final de carrera,
                    el boleto de mi jodida graduacion antes de que todo
                    se ponga feo. Pero nada mas hay que hacerlo.
                    Puedo trabajar en Java, Javacript y Nodejs.
                </p>
                
                <img src="imgs/girdog.png" alt="gir" class="animated bounceInUp">
            </div>

        </header>

    </div>
</body>

</html>
