<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>

    <% include partials/head.html %>
    <style>
        body{
            font-family: 'Expletus Sans', cursive;

        }
    </style>
   
    <style>
    img {
        border-radius: 50%;
        -moz-box-shadow: 0px 6px 5px #000;
		-webkit-box-shadow: 0px 6px 5px #000;
		box-shadow: 0px 6px 5px #000;
		-moz-border-radius:60%;
		-webkit-border-radius:50%;
    }
    </style>

</head>
<body>
    <% include partials/navigation.html %>
    <div class="container">
        <header class="row" >
            <div class="col-lg-12 text-center">
                <img src="imgs/perfil-img.jpg" class="animated bounceInUp" 
                alt="avatar" width="300" height="300">
                <div class="col-sm text-white p-5">
                    <h2>Abdel Amin Genao</h2>
                </div>
            </div>
        </header>
    </div>

    <div class="container-fluid" id="about">
        <div class="row text-white p-5 text-center">
            <div class="col-sm">
                <a href="http://www.github.com/Desox7x" target="_blank">
                    <i class="fab fa-github-square fa-5x animated fadeIn"></i>
                </a>
                <h4>GitHub</h4>
            </div>
            <div class="col-sm">
                <a href="https://glitch.com/@Desox7x" target="_blank">
                    <i class="fas fa-fish fa-5x animated fadeIn"></i>
                </a>
                <h4>Glitch</h4>

            </div>
            <div class="col-sm">
                <a href="http://www.instagram.com/genaoabdel" target="_blank">
                    <i class="fab fa-instagram fa-5x animated fadeIn"></i>
                </a>
                <h4>Instagram</h4>
            </div>
            
        </div>
    </div>
</body>
</html>